.bike-header-size {
    font-size: 35px;
}
.bike-title-size {
    font-size: 60px;
}

.bikerz-zone-light-red{
    background-color: rgba(255, 0, 0, 0.19);
}

.bw-image {
    filter: grayscale(100%);
}
